---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import vidArctic from "./projects/arctic/arctic-vid-01.mp4";
import vidCuddlebook from "./projects/cuddlebook/cuddlebook-vid-01-640x360-600kbps.mp4";
import vidLusion from "./projects/lusion/lusion-vid-01.mp4";
import vidMrRemotingUnity from "./projects/mr-remoting-unity/mr-remoting-01-400x400-240kbps.mp4";
import vidDreamglass from "./projects/dreamglass/dreamglass-hero-640x360-220kbps.mp4";
import vidEquinor from "./projects/equinor/equinor-project-thumb-960x540-1500kbps.mp4";
import imgCsr2 from "./projects/csr2/hero.jpeg";
import imgAs3 from "./projects/as3/hero.jpg";
import imgDeliveryOutlaw from "./projects/delivery-outlaw/hero.jpg";
import BlogSection from "../components/BlogSection.astro";
---

<Layout>
	<main>
		<section class="flex flex-col gap-4">
			<h2 class="tracking-[0.8rem]">ABOUT</h2>
			<p>Ex-Microsoft. Game developer, software engineer, and designer with 16 years of experience in the industry.</p>
			<p>
				I run a design & development agency: <a href="https://llume.co">https://llume.co</a>
			</p>
			<p>
				During Covid I had a go at writing/producing music <a href="https://www.youtube.com/@i.am.canxerian"
					>youtube.com/@i.am.canxerian</a
				>
			</p>
		</section>
		<section class="flex flex-col gap-4">
			<h2 class="tracking-[0.8rem]">PROJECTS</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<!-- <div class="flex flex-col gap-20"> -->
				<ProjectCard title="Cuddlebook" videoSrc={vidCuddlebook} href="/projects/cuddlebook" />
				<ProjectCard title="Arctic Sea Ice" videoSrc={vidArctic} href="/projects/arctic-sea-ice" />
				<ProjectCard
					title="Lusion, reverse engineered"
					videoSrc={vidLusion}
					href="/projects/lusion-reverse-engineered"
				/>
				<ProjectCard
					title="Mixed Reality Remoting for Unity"
					videoSrc={vidMrRemotingUnity}
					href="/projects/mixed-reality-remoting-for-unity"
				/>
				<!-- <ProjectCard title="Triosa" href="/projects/triosa" /> -->
				<ProjectCard title="Dreamglass" videoSrc={vidDreamglass} href="/projects/dreamglass" />
				<ProjectCard
					title="Equinor - Wind Farm Planner"
					videoSrc={vidEquinor}
					href="/projects/equinor-wind-farm-planner"
				/>
				<!-- <ProjectCard title="Aflac - Knowing Cancer" href="/projects/aflac-knowing-cancer" /> -->
				<ProjectCard title="CSR Racing 2" imageSrc={imgCsr2} imageAlt="CSR Racing 2" href="/projects/csr-racing-2" />
				<ProjectCard
					title="Amateur Surgeon 3"
					imageSrc={imgAs3}
					imageAlt="Amateur Surgeon 3"
					href="/projects/amateur-surgeon-3"
				/>
				<ProjectCard
					title="Delivery Outlaw"
					imageSrc={imgDeliveryOutlaw}
					imageAlt="Delivery Outlaw"
					href="/projects/delivery-outlaw"
				/>
			</div>
		</section>
		<BlogSection />
		<!-- <section class="flex flex-col gap-4">
			<h2 class="tracking-[0.8rem]">BLOG</h2>
			<ul>
				{
					blogLinks.map((blog) => (
						<li>
							<a href={blog.link}>{blog.title}</a>
						</li>
					))
				}
			</ul>
		</section> -->
		<section class="flex flex-col gap-4">
			<h2 class="tracking-[0.8rem]">WORK HISTORY</h2>
			<ul>
				<li>Microsoft - Senior Software Engineer (7 years)</li>
				<li>Amazon - Software Engineer (0.5 years)</li>
				<li>NaturalMotion/Zynga - Senior Software Engineer (3 years)</li>
				<li>Mediatonic/Epic Games - Software Engineer (2.5 years)</li>
				<li>Axisto Media - Software Engineer (1 year)</li>
			</ul>
		</section>
		<section class="flex flex-col gap-4">
			<h2 class="tracking-[0.8rem]">CONTACT</h2>
			<ul>
				<li><a href="https://www.youtube.com/@the.design.engineer">YouTube</a></li>
				<li><a href="https://www.linkedin.com/in/thedesignengr/">LinkedIn</a></li>
				<li><a href="mailto:mark@llume.co">mark@llume.co</a></li>
			</ul>
		</section>
	</main>
</Layout>
