---
import { Image, Picture, type LocalImageProps } from "astro:assets";
import { Gradients, type TGradient } from "./Gradients";

interface Props {
  videoSrc?: string;
  imageSrc?: LocalImageProps['src'];
  aspect?: "square" | "video";
  gradient?: TGradient;
  caption?: string;
}

const { videoSrc, imageSrc, aspect, caption, gradient } = Astro.props;

const gradientStyle = gradient && `${Gradients[gradient]} p-2`;

const aspectSquare = aspect === "square" && "lg:aspect-square";
const rounded = aspect === "square" ? "rounded-md" : "rounded-lg";
---

<div>
  <figure
    class=`mb-1 w-full flex flex-col justify-center align-middle bg-gray-300 ${rounded} ${aspectSquare} ${gradientStyle}`
  >
    <div class="overflow-hidden rounded-lg self-center">
      {
        videoSrc && (
          <video autoplay loop muted class="w-full">
            <source src={videoSrc} type="video/mp4" />
          </video>
        )
      }
      {imageSrc && <Image src={imageSrc} alt={caption as string} />}
    </div>
  </figure>
  {caption && <figcaption class="text-gray-500 text-sm">{caption}</figcaption>}
</div>
